<a href="https://colab.research.google.com/github/SeongBumKim/Algorithm/blob/master/02_pandas_%ED%8C%8C%EC%9D%BC%EC%9E%85%EC%B6%9C%EB%A0%A5_Teacher231024_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 패키지 설치

## 모듈 import

In [ ]:
import numpy as np
import pandas as pd
from mySUNI import cds
from IPython.display import Image

## 데이터 다운로드

In [ ]:
cds.list_data() # 데이터 조회

,name,info,filename
0,서울시자전거,서울시 따릉이 자전거 대여량 정보,[seoul_bicycle.csv]
1,서울시대중교통,"서울시 대중교통(지하철, 버스) 이용객 정보",[seoul_transportation.xlsx]
2,서울시주민등록인구,서울시 주민등록인구 정보,[seoul_population.csv]
3,유가정보,2019년 서울시 유가 정보,"[gas_first_2019.csv, gas_second_2019.csv]"
4,PandasFileIO,Pandas File I/O 연습 문제용 데이터셋,"[mySUNI.xlsx, mySUNI_1.csv, mySUNI_2.csv, mySU..."
5,CCTV데이터분석,mySUNI WorkShop - CCTV 데이터 분석,"[01. CCTV_in_Seoul.csv, 01. population_in_Seou..."
6,국민연금데이터분석,mySUNI WorkShop - 국민연금 데이터 분석,[national_pension.csv]
7,민간아파트가격동향분석,mySUNI WorkShop - 민간 아파트 가격 동향 분석,[seoul_house_price.csv]
8,실거래가분석,mySUNI WorkShop - 2020년 아파트 실거래가 분석,"[2020-seoul-apt-price.csv, loc_code.xlsx]"
9,유가가격분석,mySUNI WorkShop - 2020년 유가 가격 분석,"[gas_first_2019.csv, gas_second_2019.csv]"
10,중고차판매정보분석,mySUNI WorkShop - 중고차 판매 정보 분석,[vehicles.csv]
11,신용정보,사용자의 신용카드 대금 연체를 기준의 신용도,[credit-data.csv]
12,전국신규분양가,주택도시보증공사 전국 신규 민간 아파트 분양가격 정보,[house-price.csv]
13,에너지 효율,난방부하 및 냉방부하 요구사항(에너지 효율)을 평가,[ENB2012_data.xlsx]
14,보스턴집값,보스턴 지역 집값 데이터 세트,[boston.csv]
15,와인유형분류,"와인 유형(red, white) 분류를 위한 와인 품질 데이터 세트","[red_wine.csv, white_wine.csv]"
16,사용자이탈예측,사용자 이탈 예측,"[class.csv, event.csv, logs.csv, user_info.csv]"
17,dogscats.zip,서울시 따릉이 자전거 대여량 정보,[dogscats.zip]
18,rps,가위/바위/보 손 이미지,[rps.zip]
19,spam,스팸 메일 분류 데이터셋,[spam.csv]
20,PandasWS,Pandas WorkShop용 데이터셋,"[tips.csv, 따릉이_cat.csv, seoul_cctv.xlsx, test_..."

In [ ]:
cds.download_data(['서울시대중교통', '서울시주민등록인구', 'PandasFileIO'])

## Excel

[도큐먼트](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_excel.html)

### Excel - 불러오기

Excel 데이터를 바로 읽어들일 수 있으며, `sheet_name`을 지정하면 해당 sheet를 가져옵니다.

In [ ]:
import os
os.path.sep

'/'

In [ ]:
np.array(dir(os.path))

array(['__all__', '__builtins__', '__cached__', '__doc__', '__file__',
       '__loader__', '__name__', '__package__', '__spec__', '_get_sep',
       '_joinrealpath', '_varprog', '_varprogb', 'abspath', 'altsep',
       'basename', 'commonpath', 'commonprefix', 'curdir', 'defpath',
       'devnull', 'dirname', 'exists', 'expanduser', 'expandvars',
       'extsep', 'genericpath', 'getatime', 'getctime', 'getmtime',
       'getsize', 'isabs', 'isdir', 'isfile', 'islink', 'ismount', 'join',
       'lexists', 'normcase', 'normpath', 'os', 'pardir', 'pathsep',
       'realpath', 'relpath', 'samefile', 'sameopenfile', 'samestat',
       'sep', 'split', 'splitdrive', 'splitext', 'stat',
       'supports_unicode_filenames', 'sys'], dtype='<U26')

In [ ]:
help(os.path.join)

Help on function join in module posixpath:

join(a, *p)
    Join two or more pathname components, inserting '/' as needed.
    If any component is an absolute path, all previous path components
    will be discarded.  An empty last part will result in a path that
    ends with a separator.

In [ ]:
# 'data/seoul_transportation.xlsx' 파일의 '철도' 시트를 가져옵니다
import os
filename = os.path.join('data', 'seoul_transportation.xlsx')
excel = pd.read_excel(filename, sheet_name='철도', engine='openpyxl')

In [ ]:
# excel의 첫 5개 행을 출력합니다
excel.head(5)

  대중교통구분  노선명      년월   승차총승객수
0    지하철  1호선  201711  8633618
1    지하철  1호선  201712  8737235
2    지하철  1호선  201801  8145989
3    지하철  1호선  201802  7273309
4    지하철  1호선  201803  8692551

In [ ]:
# 'data/seoul_transportation.xlsx' 파일의 '버스' 시트를 가져와 첫 5개 행을 출력합니다.
import os
filename = os.path.join('data', 'seoul_transportation.xlsx')
excel = pd.read_excel(filename, sheet_name='버스', engine='openpyxl')
excel.head()

  대중교통구분      년월     승차총승객수
0     버스  201711  163443126
1     버스  201712  162521011
2     버스  201801  153335185
3     버스  201802  134768582
4     버스  201803  166177855

`sheet_name`을 None으로 지정하면, 모든 sheet를 가지고 옵니다.

가지고 올 때는 OrderedDict로 가져오며, `keys()`로 **시트명을 조회**할 수 있습니다.

In [ ]:
# 'data/seoul_transportation.xlsx' 파일의 모든 시트를 OrderedDict로 가져와 출력합니다.
import os
filename = os.path.join('data', 'seoul_transportation.xlsx')
excels = pd.read_excel(filename, sheet_name=None, engine='openpyxl')
excels

In [ ]:
# excels의 시트이름 목록 조회
excels.keys()

dict_keys(['철도', '버스'])

In [ ]:
# excels의 '철도' 시트에 대한 DataFrame에서 첫 5개 행을 출력합니다.
excel = excels['철도']
excel.head(5)

  대중교통구분  노선명      년월   승차총승객수
0    지하철  1호선  201711  8633618
1    지하철  1호선  201712  8737235
2    지하철  1호선  201801  8145989
3    지하철  1호선  201802  7273309
4    지하철  1호선  201803  8692551

In [ ]:
# excels의 '버스' 시트에 대한 DataFrame에서 첫 5개 행을 출력합니다.
excel = excels['버스']
excel.head(5)

  대중교통구분      년월     승차총승객수
0     버스  201711  163443126
1     버스  201712  162521011
2     버스  201801  153335185
3     버스  201802  134768582
4     버스  201803  166177855

### Excel - 저장하기

DataFrame을 Excel로 저장할 수 있으며, Excel로 저장시 **파일명**을 지정합니다.

- `index=False` 옵션은 가급적 꼭 지정하는 옵션입니다. 지정을 안하면 **index가 별도의 컬럼으로 저장**되게 됩니다.
- `sheet_name`을 지정하여, 저장할 시트의 이름을 변경할 수 있습니다.

In [ ]:
# DataFrame excel을 'sample.xlsx' 로 저장합니다. 이때 index도 함께 저장 합니다.
excel.to_excel('sample.xlsx')

In [ ]:
# DataFrame excel을 'sample1.xlsx' 로 저장합니다.
# 이때 index는 저장하지 않고, sheet_name은 '샘플'로 저장 합니다.
excel.to_excel('sample1.xlsx', index=False, sheet_name='샘플')

### Excel - 여러개의 시트에 저장

여래 개의 시트에 저장하기 위해서는 **ExcelWriter를 사용**해야 합니다.

In [ ]:
writer = pd.ExcelWriter('sample2.xlsx')
excel.to_excel(writer, index=False, sheet_name='샘플1')
excel.to_excel(writer, index=False, sheet_name='샘플2')
excel.to_excel(writer, index=False, sheet_name='샘플3')
writer.close()

### Excel 문서의 여러 개 시트 통합하기

In [ ]:
import os
filename = 'sample2.xlsx'
excels = pd.read_excel(filename, sheet_name=None, engine='openpyxl')
#type(excels)
df = pd.concat(excels.values(), ignore_index=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57 entries, 0 to 56
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   대중교통구분  57 non-null     object
 1   년월      57 non-null     int64
 2   승차총승객수  57 non-null     int64
dtypes: int64(2), object(1)
memory usage: 1.5+ KB

In [ ]:
df.tail(3)

   대중교통구분      년월     승차총승객수
54     버스  202203  161694445
55     버스  202204  161900273
56     버스  202205  166587933

### 연습문제

data 폴더에 있는 mySUNI.xlsx 파일을 읽어서 df에 저장하세요.
- 모든 시트를 읽어오세요.

In [ ]:
# 코드를 입력하세요.

{'2020년 01월':          지역     GS칼텍스_셀프     GS칼텍스_일반     S-OIL_셀프   S-OIL_일반     SK에너지_셀프  \
 0    서울 강남구  1635.753333  1800.695556  1627.195000  1810.8625  1626.702500
 1    서울 강동구  1617.385000  1647.030000  1620.260000  1665.1000  1623.522000
 2    서울 강북구  1519.790000  1545.130000  1511.650000  1544.4500  1561.887500
 3    서울 강서구  1570.040000  1589.885000  1595.230000        NaN  1563.165714
 4    서울 관악구  1582.710000  1639.755000          NaN  1604.5350  1593.675000
 5    서울 광진구          NaN  1577.652000  1570.660000  1541.4200  1600.905000
 6    서울 구로구  1532.030000  1751.280000  1544.770000  1605.0140          NaN
 7    서울 금천구  1561.223333          NaN  1570.225000  1545.3200          NaN
 8    서울 노원구  1554.730000  1635.450000  1588.903333        NaN  1593.745000
 9    서울 도봉구  1528.030000  1596.420000  1558.476000  1570.6100  1533.087500
 10  서울 동대문구  1605.680000  1561.687500          NaN  1608.0150  1576.750000
 11   서울 동작구  1581.260000  1587.690000          NaN  1593.5800  1620.790000
 12   서울 마포구          NaN  1637.000000          NaN  1787.5000  1859.000000
 13  서울 서대문구  1576.950000  1561.870000  1555.095000  1726.3900  1583.126667
 14   서울 서초구  1651.725000  1612.745833  1589.710000  1774.6950  1601.185000
 15   서울 성동구  1561.710000  1869.000000  1541.420000  1590.7600  1619.190000
 16   서울 성북구  1531.445000  1596.120000  1640.336667  1545.6750  1547.658000
 17   서울 송파구  1562.220000  1579.540000  1552.790000  1586.6450  1579.273750
 18   서울 양천구  1543.710000  1557.370000  1523.130000        NaN  1586.571250
 19  서울 영등포구  1586.497500  1749.780000  1562.065000  1587.3500  1570.097143
 20   서울 용산구          NaN  1929.017500          NaN        NaN          NaN
 21   서울 은평구  1556.000000  1579.000000  1550.710000        NaN  1552.777500
 22   서울 종로구          NaN  2187.000000          NaN  1643.0000  1642.190000
 23    서울 중구          NaN  2197.572500          NaN  1875.1000          NaN
 24   서울 중랑구  1541.155000  1543.740000  1545.516667  1563.5000  1555.062000

        SK에너지_일반  알뜰(ex)_셀프  알뜰주유소_셀프  알뜰주유소_일반  자가상표_셀프  자가상표_일반    현대오일뱅크_셀프  \
 0   1939.458889        NaN       NaN       NaN      NaN      NaN  1573.000000
 1   1794.175000        NaN       NaN       NaN      NaN      NaN          NaN
 2   1528.740000        NaN       NaN       NaN      NaN      NaN  1526.506667
 3   1674.021667        NaN  1527.225   1520.68      NaN      NaN  1541.840000
 4   1631.090000        NaN       NaN   1573.35      NaN      NaN  1572.710000
 5   1587.590000        NaN       NaN   1541.74      NaN      NaN  1541.740000
 6   1627.928000        NaN       NaN   1564.42      NaN      NaN  1562.623333
 7   1608.195000        NaN       NaN   1560.68      NaN      NaN  1564.225000
 8   1691.836667        NaN       NaN       NaN      NaN      NaN          NaN
 9   1663.580000        NaN       NaN       NaN      NaN      NaN  1589.870000
 10  1602.372000        NaN       NaN       NaN      NaN      NaN  1556.915000
 11  1675.000000        NaN       NaN       NaN      NaN      NaN  1571.740000
 12  1760.801667        NaN       NaN       NaN      NaN      NaN          NaN
 13  1733.332500        NaN       NaN       NaN      NaN      NaN  1555.580000
 14  1761.534444    1511.06       NaN       NaN      NaN      NaN          NaN
 15  1671.311667        NaN       NaN       NaN      NaN  1554.45  1561.950000
 16  1585.920000        NaN       NaN   1515.52      NaN      NaN  1523.506667
 17  1651.368000        NaN       NaN       NaN      NaN      NaN  1558.397500
 18  1699.994000        NaN  1528.390       NaN      NaN      NaN  1564.720000
 19  1798.215714        NaN  1526.100       NaN      NaN      NaN  1551.255000
 20  2012.630000        NaN       NaN       NaN      NaN      NaN          NaN
 21  1600.940000        NaN       NaN       NaN   1609.0  1601.33  1551.753333
 22  2061.000000        NaN       NaN       NaN      NaN      NaN          NaN
 23  2132.710000        NaN       NaN   1603.74      NaN      NaN          NaN
 24          NaN        NaN       NaN       NaN      NaN      NaN          NaN

     현대오일뱅크_일반
 0    1799.250
 1    1589.370
 2         NaN
 3    1578.695
 4    1634.465
 5    1553.770
 6    1598.805
 7         NaN
 8    1680.000
 9    1518.550
 10   1599.195
 11   1578.825
 12   1638.000
 13   1556.230
 14   1582.470
 15   1719.000
 16   1554.480
 17   1591.420
 18   1578.590
 19   1528.195
 20   1998.000
 21        NaN
 22   1598.000
 23   1820.260
 24   1524.350  ,
 '2020년 02월':          지역     GS칼텍스_셀프     GS칼텍스_일반     S-OIL_셀프  S-OIL_일반     SK에너지_셀프  \
 0    서울 강남구  1623.160000  1778.136667  1589.950000  1809.250  1600.457500
 1    서울 강동구  1586.755000  1627.746667  1587.660000  1658.690  1583.938000
 2    서울 강북구  1497.810000  1520.030000  1478.520000  1534.520  1521.945000
 3    서울 강서구  1553.460000  1573.482500  1565.108333       NaN  1525.591429
 4    서울 관악구  1555.725000  1627.760000          NaN  1585.500  1582.965000
 5    서울 광진구          NaN  1555.676000  1536.640000  1508.140  1577.865000
 6    서울 구로구  1485.900000  1730.320000  1506.830000  1595.626          NaN
 7    서울 금천구  1515.506667          NaN  1529.860000  1507.760          NaN
 8    서울 노원구  1520.136667  1617.620000  1556.056667       NaN  1559.945000
 9    서울 도봉구  1524.000000  1576.240000  1528.290000  1516.170  1497.542500
 10  서울 동대문구  1568.790000  1532.207500          NaN  1596.430  1563.470000
 11   서울 동작구  1567.620000  1557.400000          NaN  1558.480  1561.000000
 12   서울 마포구          NaN  1637.000000          NaN  1783.360  1859.000000
 13  서울 서대문구  1550.035000  1530.450000  1524.485000  1738.000  1542.630000
 14   서울 서초구  1625.415000  1600.035000  1571.460000  1763.225  1569.377500
 15   서울 성동구  1543.900000  1869.000000  1508.720000  1571.790  1612.070000
 16   서울 성북구  1502.680000  1565.433333  1486.840000  1496.225  1514.600000
 17   서울 송파구  1560.953333  1572.552500  1551.070000  1578.020  1558.280000
 18   서울 양천구  1512.150000  1539.980000  1474.100000       NaN  1546.131250
 19  서울 영등포구  1566.440000  1731.040000  1532.620000  1547.660  1538.488571
 20   서울 용산구          NaN  1930.965000          NaN       NaN          NaN
 21   서울 은평구  1531.008000  1548.660000  1527.950000       NaN  1525.080000
 22   서울 종로구          NaN  2187.000000          NaN  1592.175  1554.590000
 23    서울 중구          NaN  2180.042500          NaN  1878.000          NaN
 24   서울 중랑구  1516.697500  1498.550000  1505.943333  1539.500  1539.338000

        SK에너지_일반  알뜰(ex)_셀프  알뜰주유소_셀프  알뜰주유소_일반  자가상표_일반    현대오일뱅크_셀프  \
 0   1932.283333        NaN       NaN       NaN      NaN  1557.480000
 1   1774.155000        NaN       NaN       NaN      NaN          NaN
 2   1519.140000        NaN       NaN       NaN      NaN  1513.946667
 3   1650.493333        NaN  1486.255   1472.41      NaN  1501.280000
 4   1607.633333        NaN       NaN   1531.24      NaN  1563.485000
 5   1546.426667        NaN       NaN   1508.31      NaN  1511.240000
 6   1610.268000        NaN       NaN   1527.14      NaN  1529.113333
 7   1579.275000        NaN       NaN   1520.52      NaN  1528.275000
 8   1666.653333        NaN       NaN       NaN      NaN          NaN
 9   1620.710000        NaN       NaN       NaN      NaN  1577.290000
 10  1578.020000        NaN       NaN       NaN      NaN  1519.345000
 11  1675.000000        NaN       NaN       NaN      NaN  1566.760000
 12  1751.156667        NaN       NaN       NaN      NaN          NaN
 13  1669.502500        NaN       NaN       NaN      NaN  1524.070000
 14  1745.167778    1510.17       NaN       NaN      NaN          NaN
 15  1659.091667        NaN       NaN       NaN  1506.62  1539.655000
 16  1542.655000        NaN       NaN   1475.03      NaN  1495.586667
 17  1624.330000        NaN       NaN       NaN      NaN  1549.405000
 18  1679.710000        NaN  1506.660       NaN      NaN  1533.530000
 19  1786.487143        NaN  1484.520       NaN      NaN  1521.585000
 20  2009.466667        NaN       NaN       NaN      NaN          NaN
 21  1557.140000        NaN       NaN       NaN  1574.21  1501.705000
 22  2061.000000        NaN       NaN       NaN      NaN          NaN
 23  2114.572000        NaN       NaN   1605.66      NaN          NaN
 24          NaN        NaN       NaN       NaN      NaN          NaN

       현대오일뱅크_일반
 0   1780.542500
 1   1565.295000
 2           NaN
 3   1554.122500
 4   1603.845000
 5   1523.900000
 6   1588.345000
 7           NaN
 8   1668.620000
 9   1487.240000
 10  1575.715000
 11  1566.055000
 12  1638.000000
 13  1521.970000
 14  1570.746667
 15  1712.550000
 16  1516.240000
 17  1582.170000
 18  1540.426667
 19  1484.175000
 20  1998.000000
 21          NaN
 22  1581.450000
 23  1803.170000
 24  1488.380000  ,
 '2020년 03월':          지역     GS칼텍스_셀프     GS칼텍스_일반     S-OIL_셀프  S-OIL_일반     SK에너지_셀프  \
 0    서울 강남구  1582.376667  1726.428889  1532.745000  1761.580  1547.478750
 1    서울 강동구  1526.100000  1559.883333  1546.060000  1613.480  1511.284000
 2    서울 강북구  1411.375000  1448.680000  1396.710000  1469.650  1448.930000
 3    서울 강서구  1480.570000  1504.580000  1488.081667       NaN  1444.832857
 4    서울 관악구  1500.420000  1589.195000          NaN  1516.190  1522.725000
 5    서울 광진구          NaN  1486.374000  1447.015000  1437.420  1497.210000
 6    서울 구로구  1388.030000  1665.523333  1411.580000  1535.728          NaN
 7    서울 금천구  1456.633333          NaN  1460.660000  1421.450          NaN
 8    서울 노원구  1451.473333  1557.193333  1489.786667       NaN  1474.805000
 9    서울 도봉구  1419.725000  1503.840000  1442.350000  1498.000  1427.260000
 10  서울 동대문구  1480.415000  1467.590000          NaN  1528.985  1504.583333
 11   서울 동작구  1513.190000  1475.115000          NaN  1485.770  1499.020000
 12   서울 마포구          NaN  1600.870000  1611.860000  1730.725  1791.260000
 13  서울 서대문구  1467.520000  1445.320000  1438.760000  1738.000  1474.613333
 14   서울 서초구  1548.485000  1538.293333  1515.956667  1734.740  1518.767500
 15   서울 성동구  1441.520000  1849.970000  1428.610000  1503.160  1555.420000
 16   서울 성북구  1410.717500  1438.006667  1400.516667  1417.195  1437.592000
 17   서울 송파구  1525.538333  1531.247500  1499.355000  1525.980  1519.217500
 18   서울 양천구  1425.946667  1452.580000  1367.450000       NaN  1457.100000
 19  서울 영등포구  1495.260000  1670.985000  1450.290000  1462.130  1446.934286
 20   서울 용산구          NaN  1910.952500          NaN       NaN          NaN
 21   서울 은평구  1446.296000  1483.190000  1450.535000       NaN  1443.967500
 22   서울 종로구          NaN  2160.740000          NaN  1526.175  1465.130000
 23    서울 중구          NaN  2134.537500          NaN  1847.030          NaN
 24   서울 중랑구  1428.442500  1400.550000  1412.880000  1467.260  1462.496000

        SK에너지_일반  알뜰(ex)_셀프  알뜰주유소_셀프  알뜰주유소_일반  자가상표_일반    현대오일뱅크_셀프  \
 0   1891.781111        NaN       NaN       NaN      NaN  1497.190000
 1   1715.530000        NaN       NaN       NaN      NaN          NaN
 2   1435.480000        NaN       NaN       NaN      NaN  1443.203333
 3   1574.586667        NaN   1387.79   1366.65      NaN  1413.770000
 4   1568.450000        NaN       NaN   1463.26      NaN  1506.015000
 5   1458.743333        NaN       NaN   1432.74      NaN  1433.420000
 6   1544.082000        NaN       NaN   1462.10      NaN  1438.275000
 7   1523.120000        NaN       NaN   1456.58      NaN  1459.725000
 8   1588.280000        NaN       NaN       NaN      NaN          NaN
 9   1500.100000        NaN       NaN       NaN      NaN  1479.230000
 10  1514.834000        NaN       NaN       NaN      NaN  1434.275000
 11  1620.810000        NaN       NaN       NaN      NaN  1512.060000
 12  1703.311667        NaN       NaN       NaN      NaN          NaN
 13  1607.935000        NaN       NaN       NaN      NaN  1438.900000
 14  1693.850000    1433.84       NaN       NaN      NaN          NaN
 15  1590.736667        NaN       NaN       NaN   1445.1  1488.645000
 16  1475.215000        NaN       NaN   1390.03      NaN  1412.816667
 17  1570.978000        NaN       NaN       NaN      NaN  1513.650000
 18  1611.398000        NaN   1413.29       NaN      NaN  1457.390000
 19  1747.552857        NaN   1389.32       NaN      NaN  1418.355000
 20  1984.516667        NaN       NaN       NaN      NaN          NaN
 21  1465.970000        NaN       NaN       NaN   1519.0  1414.485000
 22  2037.260000        NaN       NaN       NaN      NaN          NaN
 23  2066.930000        NaN       NaN   1510.32      NaN          NaN
 24          NaN        NaN       NaN       NaN      NaN          NaN

       현대오일뱅크_일반
 0   1708.602500
 1   1511.095000
 2           NaN
 3   1478.437500
 4   1554.470000
 5   1447.650000
 6   1526.295000
 7           NaN
 8   1609.680000
 9   1404.190000
 10  1511.040000
 11  1499.320000
 12  1604.770000
 13  1436.420000
 14  1515.656667
 15  1660.325000
 16  1436.420000
 17  1534.665000
 18  1459.580000
 19  1385.290000
 20  1978.650000
 21          NaN
 22  1521.390000
 23  1755.740000
 24  1397.320000  ,
 '2020년 04월':          지역     GS칼텍스_셀프     GS칼텍스_일반     S-OIL_셀프   S-OIL_일반     SK에너지_셀프  \
 0    서울 강남구  1467.290000  1598.725556  1399.515000  1646.5575  1418.375000
 1    서울 강동구  1385.150000  1427.020000  1412.330000  1501.6700  1361.926000
 2    서울 강북구  1253.020000  1305.000000  1232.000000  1296.6700  1283.735000
 3    서울 강서구  1358.543333  1384.732500  1355.616667        NaN  1308.114286
 4    서울 관악구  1378.400000  1451.670000          NaN  1391.0800  1390.435000
 5    서울 광진구          NaN  1371.680000  1305.835000  1292.2000  1363.285000
 6    서울 구로구  1258.000000  1545.000000  1258.000000  1384.9140          NaN
 7    서울 금천구  1320.200000          NaN  1325.030000  1293.3300          NaN
 8    서울 노원구  1302.003333  1404.486667  1343.666667        NaN  1341.335000
 9    서울 도봉구  1245.600000  1334.000000  1285.042000  1498.0000  1251.635000
 10  서울 동대문구  1333.230000  1293.350000  1500.000000  1371.5000  1400.156667
 11   서울 동작구  1393.870000  1325.665000          NaN  1360.4300  1374.550000
 12   서울 마포구          NaN  1413.000000  1475.000000  1592.8300  1580.000000
 13  서울 서대문구  1314.800000  1301.000000  1294.085000  1680.0000  1320.000000
 14   서울 서초구  1418.600000  1413.116667  1387.800000  1637.0650  1394.915000
 15   서울 성동구  1300.400000  1750.750000  1286.200000  1343.6700  1386.330000
 16   서울 성북구  1244.407500  1281.596667  1254.376667  1258.0000  1280.758000
 17   서울 송파구  1373.131667  1395.892500  1343.615000  1409.2000  1365.412500
 18   서울 양천구  1288.056667  1306.600000  1227.600000        NaN  1325.648750
 19  서울 영등포구  1356.182500  1574.071667  1330.170000  1315.5000  1325.338571
 20   서울 용산구          NaN  1792.300000          NaN        NaN          NaN
 21   서울 은평구  1287.652000  1325.370000  1292.835000        NaN  1281.657500
 22   서울 종로구          NaN  1969.830000          NaN  1392.8000  1347.600000
 23    서울 중구          NaN  1955.442500          NaN  1718.0000          NaN
 24   서울 중랑구  1277.710000  1242.000000  1256.853333  1326.6650  1327.574000

        SK에너지_일반  알뜰(ex)_셀프  알뜰주유소_셀프  알뜰주유소_일반  자가상표_일반    현대오일뱅크_셀프  \
 0   1778.344444        NaN       NaN       NaN      NaN  1371.170000
 1   1595.865000        NaN       NaN       NaN      NaN          NaN
 2   1234.330000        NaN       NaN       NaN      NaN  1269.556667
 3   1407.195000        NaN  1239.385   1226.17      NaN  1250.570000
 4   1444.556667        NaN       NaN   1333.33      NaN  1375.300000
 5   1330.210000        NaN       NaN   1288.13      NaN  1288.200000
 6   1408.932000        NaN       NaN   1324.33      NaN  1300.742500
 7   1391.917500        NaN       NaN   1315.33      NaN  1322.365000
 8   1469.776667        NaN       NaN       NaN      NaN          NaN
 9   1332.400000        NaN       NaN       NaN      NaN  1323.085000
 10  1355.094000        NaN       NaN       NaN      NaN  1297.000000
 11  1520.000000        NaN       NaN       NaN      NaN  1393.530000
 12  1547.021667        NaN       NaN       NaN      NaN          NaN
 13  1408.450000        NaN       NaN       NaN      NaN  1293.500000
 14  1574.200000    1265.97       NaN       NaN      NaN          NaN
 15  1441.950000        NaN       NaN       NaN  1286.00  1302.850000
 16  1317.670000        NaN       NaN   1226.00      NaN  1250.576667
 17  1432.994000        NaN       NaN       NaN      NaN  1355.085000
 18  1461.466000        NaN  1278.630       NaN      NaN  1299.666667
 19  1660.418571        NaN  1257.830       NaN      NaN  1279.085000
 20  1842.201111        NaN       NaN       NaN      NaN          NaN
 21  1302.600000        NaN       NaN       NaN  1396.33  1255.380000
 22  1908.470000        NaN       NaN       NaN      NaN          NaN
 23  1930.066000        NaN       NaN   1350.00      NaN          NaN
 24          NaN        NaN       NaN       NaN      NaN          NaN

       현대오일뱅크_일반
 0   1575.950000
 1   1370.700000
 2           NaN
 3   1358.252500
 4   1428.330000
 5   1288.800000
 6   1393.335000
 7           NaN
 8   1461.500000
 9   1236.035000
 10  1375.900000
 11  1370.500000
 12  1431.970000
 13  1287.670000
 14  1388.410000
 15  1503.600000
 16  1297.000000
 17  1393.780000
 18  1332.776667
 19  1255.835000
 20  1936.330000
 21          NaN
 22  1367.270000
 23  1646.330000
 24  1241.670000  ,
 '2020년 05월':          지역     GS칼텍스_셀프     GS칼텍스_일반     S-OIL_셀프   S-OIL_일반     SK에너지_셀프  \
 0    서울 강남구  1378.873333  1527.207778  1343.255000  1547.9275  1337.662500
 1    서울 강동구  1331.825000  1347.753333  1351.550000  1431.8700  1297.244000
 2    서울 강북구  1200.450000  1241.900000  1186.680000  1230.6100  1236.315000
 3    서울 강서구  1298.323333  1326.950000  1297.291667        NaN  1251.091429
 4    서울 관악구  1289.935000  1341.420000          NaN  1314.2250  1309.825000
 5    서울 광진구          NaN  1277.058000  1268.625000  1237.5800  1302.295000
 6    서울 구로구  1235.320000  1491.550000  1218.680000  1318.2180          NaN
 7    서울 금천구  1254.706667          NaN  1259.515000  1240.8100          NaN
 8    서울 노원구  1252.280000  1333.493333  1275.773333        NaN  1274.645000
 9    서울 도봉구  1203.340000  1277.390000  1233.200000  1382.0300  1192.290000
 10  서울 동대문구  1278.000000  1240.180000  1199.030000  1287.7050  1254.920000
 11   서울 동작구  1315.710000  1279.050000          NaN  1289.6100  1277.290000
 12   서울 마포구          NaN  1301.840000  1308.030000  1479.9350  1449.970000
 13  서울 서대문구  1255.775000  1246.810000  1239.485000  1579.6100  1263.926667
 14   서울 서초구  1343.970000  1337.104167  1310.720000  1578.1150  1308.517500
 15   서울 성동구  1275.580000  1626.695000  1211.130000  1288.0000  1323.060000
 16   서울 성북구  1199.285000  1232.063333  1215.773333  1228.8400  1225.586000
 17   서울 송파구  1285.133333  1306.347500  1260.275000  1358.9700  1282.110000
 18   서울 양천구  1236.363333  1244.550000  1177.100000        NaN  1256.263750
 19  서울 영등포구  1296.930000  1546.500000  1272.760000  1278.9700  1263.831429
 20   서울 용산구          NaN  1713.832500          NaN        NaN          NaN
 21   서울 은평구  1236.888000  1279.260000  1244.420000        NaN  1236.395000
 22   서울 종로구          NaN  1911.580000          NaN  1326.5000  1285.030000
 23    서울 중구          NaN  1902.550000          NaN  1681.2300          NaN
 24   서울 중랑구  1233.000000  1211.130000  1228.783333  1256.0800  1254.116000

        SK에너지_일반  알뜰(ex)_셀프  알뜰주유소_셀프  알뜰주유소_일반  자가상표_일반    현대오일뱅크_셀프  \
 0   1714.160000        NaN       NaN       NaN      NaN  1280.420000
 1   1550.450000        NaN       NaN       NaN      NaN          NaN
 2   1186.680000        NaN       NaN       NaN      NaN  1205.686667
 3   1352.865000        NaN  1188.595   1175.03      NaN  1206.230000
 4   1354.483333        NaN       NaN   1264.23      NaN  1291.145000
 5   1288.453333        NaN       NaN   1212.97      NaN  1213.580000
 6   1283.504000        NaN       NaN   1254.74      NaN  1247.660000
 7   1307.207500        NaN       NaN   1252.39      NaN  1257.240000
 8   1392.396667        NaN       NaN       NaN      NaN          NaN
 9   1274.160000        NaN       NaN       NaN      NaN  1256.405000

시트명을 조회하세요.

In [ ]:
# 코드를 입력하세요.

시트명이 2020년 07월인 데이터 프레임을 df_07에 저장하세요.

In [ ]:
# 코드를 입력하세요.

,지역,GS칼텍스_셀프,GS칼텍스_일반,S-OIL_셀프,S-OIL_일반,SK에너지_셀프,SK에너지_일반,알뜰(ex)_셀프,알뜰주유소_셀프,알뜰주유소_일반,자가상표_일반,현대오일뱅크_셀프,현대오일뱅크_일반
0,서울 강남구,1450.783333,1618.593333,1431.905000,1583.495,1422.063750,1722.934286,NaN,NaN,NaN,NaN,1379.770000,1643.138333
1,서울 강동구,1436.500000,1450.333333,1437.350000,1498.000,1435.000000,1656.920000,NaN,NaN,NaN,NaN,1423.590000,1424.985000
2,서울 강북구,1345.595000,1380.610000,1317.000000,1368.390,1370.700000,1347.000000,NaN,NaN,NaN,NaN,1349.662500,NaN
3,서울 강서구,1378.666667,1408.347500,1409.473333,NaN,1358.951667,1462.122000,NaN,1322.76,1309.81,NaN,1343.320000,1379.105000
4,서울 관악구,1398.560000,1443.130000,NaN,1413.355,1422.000000,1430.820000,NaN,NaN,1394.77,NaN,1401.820000,1431.240000
5,서울 광진구,NaN,1395.508000,1371.535000,1375.000,NaN,1403.506667,NaN,NaN,1344.71,NaN,1377.473333,1378.770000
6,서울 구로구,1369.000000,1565.203333,1340.610000,1420.334,NaN,1372.330000,NaN,NaN,1379.58,NaN,1367.372500,1398.633333
7,서울 금천구,1376.803333,NaN,1381.450000,1352.420,NaN,1402.483333,NaN,NaN,1365.61,NaN,1377.565000,1403.840000
8,서울 노원구,1376.913333,1433.193333,1401.346667,NaN,1385.130000,1468.485000,NaN,NaN,NaN,NaN,NaN,1444.500000
9,서울 도봉구,1360.740000,1413.840000,1372.478000,1557.000,1350.140000,NaN,NaN,NaN,NaN,NaN,1379.110000,1359.346667
10,서울 동대문구,1393.710000,1380.837500,1353.710000,1422.500,1406.500000,1419.127500,NaN,NaN,NaN,NaN,1377.000000,1416.380000
11,서울 동작구,1407.060000,1406.385000,NaN,1413.770,NaN,1495.000000,NaN,NaN,NaN,NaN,1396.850000,1405.110000
12,서울 마포구,NaN,1404.100000,1409.320000,1556.195,NaN,1508.304000,NaN,NaN,NaN,NaN,1432.520000,1423.645000
13,서울 서대문구,1384.515000,1385.000000,1380.885000,1598.000,1398.163333,1379.513333,NaN,NaN,NaN,NaN,1380.000000,1383.660000
14,서울 서초구,1441.480000,1412.555833,1396.816667,1635.855,1404.026667,1584.833333,1312.94,NaN,NaN,NaN,1398.190000,1458.064000
15,서울 성동구,1392.420000,1650.000000,1346.840000,1418.000,1440.810000,1484.736000,NaN,NaN,NaN,1377.35,1377.580000,1572.725000
16,서울 성북구,1346.105000,1382.206667,1373.406667,1348.450,1367.755000,1414.000000,NaN,NaN,1313.84,NaN,1358.386667,1374.485000
17,서울 송파구,1388.205000,1391.692500,1378.390000,1418.000,1395.235000,1451.435000,NaN,NaN,NaN,NaN,1406.236667,1417.033333
18,서울 양천구,1345.826667,1361.450000,1316.680000,NaN,1366.586000,1458.137500,NaN,1335.00,NaN,NaN,1361.045000,1399.782500
19,서울 영등포구,1400.082500,1623.166667,1386.515000,1395.000,1391.666667,1613.628333,NaN,1369.00,NaN,NaN,1380.034000,1542.333333
20,서울 용산구,NaN,1780.925000,NaN,NaN,NaN,1896.360000,NaN,NaN,NaN,NaN,NaN,1770.195000
21,서울 은평구,1371.626000,1383.000000,1365.500000,NaN,1372.000000,NaN,NaN,NaN,NaN,1418.00,1356.000000,1385.000000
22,서울 종로구,NaN,1978.675000,NaN,1454.935,1416.450000,1927.675000,NaN,NaN,NaN,NaN,NaN,1687.000000
23,서울 중구,NaN,1954.880000,NaN,1758.000,NaN,1937.032000,NaN,NaN,1468.00,NaN,NaN,1603.160000
24,서울 중랑구,1363.217500,1349.680000,1361.473333,1385.115,1369.257500,NaN,NaN,NaN,NaN,NaN,1391.060000,1337.000000

해당 시트를 '2020년 07월 서울 브랜드별 평균 휘발유 가격.xlsx'으로 저장하세요. 인덱스는 저장하지 않습니다.

In [ ]:
# 코드를 입력하세요.

## CSV (Comma Separated Values)

- 한 줄이 한 개의 행에 해당하며, 열 사이에는** 쉼표(,)를 넣어 구분**합니다.
- Excel보다는 훨씬 가볍고 **차지하는 용량이 적기 때문에 대부분의 파일데이터는 csv 형태**로 제공됩니다.

(참고) 쉼표를 찍어 놓은 금액 데이터(100,000)를 CSV에 직접 집어넣으면 나중에 해석할 때 서로 다른 열로 취급되므로 문제가 될 수 있습니다. 해결책으로 쉼표 대신 탭 문자(\t)를 구분자로 사용하는 것이다. 이러한 경우 **Tab Separated Values(TSV)**라고 부른다.

### CSV - 불러오기

In [ ]:
# 'data/seoul_population.csv' 파일을 읽어 df라는 이름을 부여합니다
df = pd.read_csv('data/seoul_population.csv', thousands=',')

In [ ]:
df.head(3)

,연도,자치구,세대수,인구 합계,남자 인구 합계,여자 인구 합계,한국인 인구 합계,한국인 남자 인구수,한국인 여자 인구수,등록 외국인 인구 합계,등록 외국인 인구 남자수,등록 외국인 인구 여자수,세대당 인구,65세 이상 고령자 수
0,2020,합계,4417954,9911088,4816522,5094566,9668465,4701723,4966742,242623,114799,127824,2.19,1568331
1,2020,종로구,75003,158996,76876,82120,149384,72635,76749,9612,4241,5371,1.99,28507
2,2020,중구,63686,134635,65776,68859,125240,61222,64018,9395,4554,4841,1.97,24495

때때로 한글데이터를 불러올 때 다른 인코딩을 사용해야하는 경우도 있습니다.그럴 땐 `encoding` 옵션을 지정해주면 됩니다.

In [ ]:
def get_encoding(filename):
    import chardet

    with open(filename, "r") as f:
        file_data = f.readline()

    result = chardet.detect(file_data.encode())
    return result['encoding']

get_encoding('data/seoul_population.csv')

'utf-8'

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   연도             26 non-null     int64
 1   자치구            26 non-null     object
 2   세대수            26 non-null     int64
 3   인구 합계          26 non-null     int64
 4   남자 인구 합계       26 non-null     int64
 5   여자 인구 합계       26 non-null     int64
 6   한국인 인구 합계      26 non-null     int64
 7   한국인 남자 인구수     26 non-null     int64
 8   한국인 여자 인구수     26 non-null     int64
 9   등록 외국인 인구 합계   26 non-null     int64
 10  등록 외국인 인구 남자수  26 non-null     int64
 11  등록 외국인 인구 여자수  26 non-null     int64
 12  세대당 인구         26 non-null     float64
 13  65세 이상 고령자 수   26 non-null     int64
dtypes: float64(1), int64(12), object(1)
memory usage: 3.0+ KB

In [ ]:
# 'data/seoul_population.csv' 파일을 encoding을 'utf8'로 지정하여 읽어 df라는 이름을 부여합니다.
def get_encoding(filename):
    import chardet

    with open(filename, "r") as f:
        file_data = f.readline()

    result = chardet.detect(file_data.encode())
    return result['encoding']


filename = 'data/seoul_population.csv'
df = pd.read_csv(filename, thousands=',', encoding=get_encoding(filename))

In [ ]:
df.head()

,연도,자치구,세대수,인구 합계,남자 인구 합계,여자 인구 합계,한국인 인구 합계,한국인 남자 인구수,한국인 여자 인구수,등록 외국인 인구 합계,등록 외국인 인구 남자수,등록 외국인 인구 여자수,세대당 인구,65세 이상 고령자 수
0,2020,합계,4417954,9911088,4816522,5094566,9668465,4701723,4966742,242623,114799,127824,2.19,1568331
1,2020,종로구,75003,158996,76876,82120,149384,72635,76749,9612,4241,5371,1.99,28507
2,2020,중구,63686,134635,65776,68859,125240,61222,64018,9395,4554,4841,1.97,24495
3,2020,용산구,113093,244645,118835,125810,230040,110722,119318,14605,8113,6492,2.03,40247
4,2020,성동구,135870,300505,146424,154081,293556,143387,150169,6949,3037,3912,2.16,45603

### CSV - 큰 파일 데이터 끊어서 불러오기

데이터의 크기가 매우 큰 경우 memory에 한 번에 로드할 수 없습니다.

`chunksize`를 지정하고 `chunksize`만큼 끊어서 불러와서 처리하게 되면 용량이 매우 큰 데이터도 처리할 수 있습니다.

예시) `chunksize=10`: 10개의 데이터를 로드합니다.

In [ ]:
# 'data/seoul_population.csv' 파일을 10개 만큼씩 끊어 읽어 옵니다
df = pd.read_csv('data/seoul_population.csv', chunksize=10)

In [ ]:
for d in df:
    display(len(d), d)

10

,연도,자치구,세대수,인구 합계,남자 인구 합계,여자 인구 합계,한국인 인구 합계,한국인 남자 인구수,한국인 여자 인구수,등록 외국인 인구 합계,등록 외국인 인구 남자수,등록 외국인 인구 여자수,세대당 인구,65세 이상 고령자 수
0,2020,합계,"4,417,954","9,911,088","4,816,522","5,094,566","9,668,465","4,701,723","4,966,742","242,623","114,799","127,824",2.19,"1,568,331"
1,2020,종로구,"75,003","158,996","76,876","82,120","149,384","72,635","76,749","9,612","4,241","5,371",1.99,"28,507"
2,2020,중구,"63,686","134,635","65,776","68,859","125,240","61,222","64,018","9,395","4,554","4,841",1.97,"24,495"
3,2020,용산구,"113,093","244,645","118,835","125,810","230,040","110,722","119,318","14,605","8,113","6,492",2.03,"40,247"
4,2020,성동구,"135,870","300,505","146,424","154,081","293,556","143,387","150,169","6,949","3,037","3,912",2.16,"45,603"
5,2020,광진구,"167,427","360,109","173,000","187,109","346,682","167,310","179,372","13,427","5,690","7,737",2.07,"50,560"
6,2020,동대문구,"167,598","357,014","175,322","181,692","342,837","169,769","173,068","14,177","5,553","8,624",2.05,"61,796"
7,2020,중랑구,"185,920","399,562","197,118","202,444","394,702","195,165","199,537","4,860","1,953","2,907",2.12,"69,447"
8,2020,성북구,"195,396","447,056","214,658","232,398","437,153","210,810","226,343","9,903","3,848","6,055",2.24,"73,770"
9,2020,강북구,"145,896","311,569","151,466","160,103","308,055","150,143","157,912","3,514","1,323","2,191",2.11,"63,422"

10

,연도,자치구,세대수,인구 합계,남자 인구 합계,여자 인구 합계,한국인 인구 합계,한국인 남자 인구수,한국인 여자 인구수,등록 외국인 인구 합계,등록 외국인 인구 남자수,등록 외국인 인구 여자수,세대당 인구,65세 이상 고령자 수
10,2020,도봉구,"139,114","327,361","159,420","167,941","325,257","158,620","166,637","2,104",800,"1,304",2.34,"62,059"
11,2020,노원구,"218,270","527,032","254,188","272,844","523,037","252,383","270,654","3,995","1,805","2,190",2.40,"85,489"
12,2020,은평구,"213,914","484,043","231,998","252,045","479,835","230,279","249,556","4,208","1,719","2,489",2.24,"85,187"
13,2020,서대문구,"144,838","322,952","153,152","169,800","312,173","149,360","162,813","10,779","3,792","6,987",2.16,"54,204"
14,2020,마포구,"178,482","381,858","178,977","202,881","371,890","175,150","196,740","9,968","3,827","6,141",2.08,"54,331"
15,2020,양천구,"180,633","457,781","224,379","233,402","454,251","222,824","231,427","3,530","1,555","1,975",2.51,"65,670"
16,2020,강서구,"266,982","585,901","282,686","303,215","580,185","280,034","300,151","5,716","2,652","3,064",2.17,"88,984"
17,2020,구로구,"180,531","432,488","215,424","217,064","404,408","199,673","204,735","28,080","15,751","12,329",2.24,"70,198"
18,2020,금천구,"114,715","247,835","126,141","121,694","231,733","117,226","114,507","16,102","8,915","7,187",2.02,"39,842"
19,2020,영등포구,"184,714","407,367","202,969","204,398","379,480","187,647","191,833","27,887","15,322","12,565",2.05,"61,688"

6

,연도,자치구,세대수,인구 합계,남자 인구 합계,여자 인구 합계,한국인 인구 합계,한국인 남자 인구수,한국인 여자 인구수,등록 외국인 인구 합계,등록 외국인 인구 남자수,등록 외국인 인구 여자수,세대당 인구,65세 이상 고령자 수
20,2020,동작구,"184,229","401,572","193,718","207,854","391,220","189,152","202,068","10,352","4,566","5,786",2.12,"65,190"
21,2020,관악구,"274,811","509,803","255,211","254,592","495,060","248,339","246,721","14,743","6,872","7,871",1.80,"78,875"
22,2020,서초구,"173,502","429,025","205,282","223,743","425,126","203,359","221,767","3,899","1,923","1,976",2.45,"60,169"
23,2020,강남구,"234,872","544,055","260,378","283,677","539,231","257,999","281,232","4,824","2,379","2,445",2.30,"75,096"
24,2020,송파구,"281,959","673,926","325,080","348,846","667,960","322,299","345,661","5,966","2,781","3,185",2.37,"93,483"
25,2020,강동구,"196,499","463,998","228,044","235,954","459,970","226,216","233,754","4,028","1,828","2,200",2.34,"70,019"

### CSV - 저장하기

저장하는 방법은 excel과 유사합니다. 다만, csv파일 형식에는 `sheet_name` 옵션은 없습니다.

In [ ]:
df = pd.read_csv('data/seoul_population.csv')

In [ ]:
# df를 'sample.csv'로 저장합니다. 이때 index는 저장되지 않도록 합니다.
df.to_csv('sample.csv', index=False)

읽어들인 **Excel 파일도 Csv로 저장**할 수 있습니다.

In [ ]:
excel = pd.read_excel('data/seoul_transportation.xlsx', sheet_name='버스')
excel.head()

  대중교통구분      년월     승차총승객수
0     버스  201711  163443126
1     버스  201712  162521011
2     버스  201801  153335185
3     버스  201802  134768582
4     버스  201803  166177855

In [ ]:
# excel을 'sample1.csv'로 저장합니다. 이때 index는 저장되지 않도록 합니다.
excel.to_csv('sample1.csv', index=False)

### 연습문제

data 폴더에 있는 mySUNI_1.csv 파일을 읽어서 df에 저장하세요.

In [ ]:
# 코드를 입력하세요.
import os
filename = os.path.join('data', 'mySUNI_1.csv')
df = pd.read_csv(filename)
df.head(2)

,지역,GS칼텍스_셀프,GS칼텍스_일반,S-OIL_셀프,S-OIL_일반,SK에너지_셀프,SK에너지_일반,알뜰(ex)_셀프,알뜰주유소_셀프,알뜰주유소_일반,자가상표_셀프,자가상표_일반,현대오일뱅크_셀프,현대오일뱅크_일반
0,서울 강남구,1479.628286,1647.372500,1459.241304,1641.747917,1452.455417,1790.737444,NaN,NaN,NaN,NaN,NaN,1408.822500,1604.995806
1,서울 강동구,1451.558750,1472.213056,1456.763333,1528.702500,1457.974359,1666.781667,NaN,NaN,NaN,NaN,NaN,1412.656667,1441.861667

data 폴더에 있는 mySUNI_2.csv 파일을 읽어서 df에 저장하세요.
- encoding은 cp949로 되어있습니다.

In [ ]:
# 코드를 입력하세요.
import os
filename = os.path.join('data', 'mySUNI_2.csv')
df = pd.read_csv(filename, encoding='cp949')  # UnicodeDecodeError
df.head(2)

,지역,GS칼텍스_셀프,GS칼텍스_일반,S-OIL_셀프,S-OIL_일반,SK에너지_셀프,SK에너지_일반,알뜰(ex)_셀프,알뜰주유소_셀프,알뜰주유소_일반,자가상표_셀프,자가상표_일반,현대오일뱅크_셀프,현대오일뱅크_일반
0,서울 강남구,1479.628286,1647.372500,1459.241304,1641.747917,1452.455417,1790.737444,NaN,NaN,NaN,NaN,NaN,1408.822500,1604.995806
1,서울 강동구,1451.558750,1472.213056,1456.763333,1528.702500,1457.974359,1666.781667,NaN,NaN,NaN,NaN,NaN,1412.656667,1441.861667

data 폴더에 있는 mySUNI_3.csv 파일을 읽어서 df에 저장하세요.
- encoding은 cp949로 되어있습니다.

In [ ]:
# 코드를 입력하세요.
import os
def get_encoding(filename):
    import chardet

    with open(filename, "rb") as f:
        file_data = f.readline()

    result = chardet.detect(file_data)
    return result['encoding']

filename = os.path.join('data', 'mySUNI_3.csv')
df = pd.read_csv(filename, encoding=get_encoding(filename))  # UnicodeDecodeError
df.head(2)

  지역|GS칼텍스_셀프|GS칼텍스_일반|S-OIL_셀프|S-OIL_일반|SK에너지_셀프|SK에너지_일반|알뜰(ex)_셀프|알뜰주유소_셀프|알뜰주유소_일반|자가상표_셀프|자가상표_일반|현대오일뱅크_셀프|현대오일뱅크_일반
0  서울 강남구|1479.6282857142858|1647.3725000000002|1...
1  서울 강동구|1451.5587500000001|1472.2130555555555|1...

In [ ]:
df.shape

(25, 1)

- 구분자(sep)는 ,가 아닌 |로 되어있습니다 다시 파일을 읽어오세요.

In [ ]:
# 코드를 입력하세요.
df = pd.read_csv(filename, sep='|', encoding=get_encoding(filename))  # UnicodeDecodeError
df.head(2)

,지역,GS칼텍스_셀프,GS칼텍스_일반,S-OIL_셀프,S-OIL_일반,SK에너지_셀프,SK에너지_일반,알뜰(ex)_셀프,알뜰주유소_셀프,알뜰주유소_일반,자가상표_셀프,자가상표_일반,현대오일뱅크_셀프,현대오일뱅크_일반
0,서울 강남구,1479.628286,1647.372500,1459.241304,1641.747917,1452.455417,1790.737444,NaN,NaN,NaN,NaN,NaN,1408.822500,1604.995806
1,서울 강동구,1451.558750,1472.213056,1456.763333,1528.702500,1457.974359,1666.781667,NaN,NaN,NaN,NaN,NaN,1412.656667,1441.861667

데이터를 5개씩 끊어서 읽어오세요.

In [ ]:
# 코드를 입력하세요.

In [ ]:
for d in df:
    display(d)